
  <div class="page-container">
   <div class="content-wrapper">
       <!-- Tout votre contenu ici -->
   </div>
   <footer class="text-center text-white fixed-bottom">
    <!-- Grid container -->
    {# <div class="container p-4"></div> #}
    <!-- Grid container -->

    <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-white" href="https://Douceurdelune.com/">Douceur de lune.com</a>
    </div>

</footer>
</div>
