:root {
    --primary-color: rgb(225, 164, 98);
    --secondary-color: rgb(253, 238, 220);
    --tertiary-color: #f5f5f5;
    --text-color: rgba(0, 0, 0, 0.2);
    --title-color: rgb(58, 58, 58);
    --quaternary-color: rgb(194, 128, 45);
    --quinternary-color: #ffe6df;
    --peach-color: #ffcccb;
    --portage-color: #23a6bd;
    --allaitement-color: #86428b;
    --rebozo-color: #c27b2a;
    --cercle-color: #b63c3c;
    
}

body {
    background-image: url('/img/aquarelle.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-color: rgb(253, 238, 220); */
    min-height: 950px !important;
    position: relative;
}

table, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Barlow', sans-serif;
}

.alert {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: red;
    margin-left: -18px;
}

.portage-color:hover {
    background-color: #c8ecf7;
}

.portage-color:hover a{
    color: var(--portage-color);
}

.allaitement-color:hover {
    background-color: #fcd0ff;
}

.allaitement-color:hover a{
    color: var(--allaitement-color);
}

.rebozo-color:hover {
    background-color: #fee2c3;
}

.rebozo-color:hover a{
    color: var(--rebozo-color);
}

.cercle-color:hover {
    background-color: #ffd1d1;
}

.cercle-color:hover a{
    color: var(--cercle-color);
}


main {
    min-height: 950px !important;
    position: relative;
    z-index: 2;
}

.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.p-4 {
    background-color: rgb(24, 24, 24);
}

.list-group-item {
    font-weight: 600;
    margin: 5px 0 !important;
    background-color: #ffe8f4;
}

.fixed-bottom {
    background-color: rgb(24, 24, 24);
    margin-top: 50px;
    position: absolute;
    bottom: -5px !important;
}

.navbar {
    background-color: rgba(255, 228, 208, 0.2) !important;
    position: fixed;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(8px);
    margin-top: -5px;

}

.navbar-nav {
    font-size: 1.2rem;
}

.navbar-brand {
    margin-bottom: -5px;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(81, 81, 81);
    font-family: 'La Belle Aurore', cursive;
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    gap: 30px;
    /* padding-left: 100px; */
  }

.navbar li a {
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.hover-elem:hover {
    color: rgb(225, 164, 98);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Barlow', sans-serif;
}

.card-header {
    background-color: #ffe6df;
    color: rgb(225, 164, 98);
}

.main-title {
    margin: 20px 0;
    color: var(--quaternary-color);
    font-weight: 600;
}

.margin-title-cart {
    /* width: 50%; */
    margin-left: 22px;
}

.list-title {
    color: var(--quaternary-color);
    font-size: 1.2rem;
}

.last-margin {
    margin: 20px 0;
}

.card-link{
    color: inherit; 
    text-decoration: none;
}

.margin-malus {
    /* margin-left: -1154px !important; */
}

.btn {
    margin-left: -15px;
}

.bis {
    margin-left: 10px;
}

.btn-primary {
    background-color: rgb(225, 164, 98);
    border-color: rgb(225, 164, 98);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(197, 131, 61);
    border-color: rgb(197, 131, 61);
}

.btn-vider {
    /* margin-left: 105px !important; */
    padding: 5px 30px;
}

.action a{
    margin-left: 10px;
}

.container {
    padding-top: 100px;
}

.container-sub {
    padding-top: 100px;
    width: 30% !important;
    margin: 0 auto;
}

.my-3 {
    margin-left: 0px;
}

.table-hover {
    width: 80%;
    margin: 150px auto;
}


.table-responsive h1 {
    margin-top: 150px !important;
    display: flex;
    justify-content: center;
    color: rgb(225, 164, 98);
}

.dropdown-menu li {
    margin: 10px 10px;
    font-size: 1.2rem;
}

.table-spacing tbody {
    text-transform: uppercase;
    font-weight: 600;
}

/* .table-spacing tbody tr {
    border-bottom: 20px solid rgb(255, 251, 244) !important;
    padding: 10px 0;
} */

.table-spacing tbody tr:hover {
    background-color: rgb(255, 251, 244) !important;
}

.table-spacing tbody th {
    padding: 20px 10px;
    color: rgb(225, 164, 98);
}

.table-spacing tbody td {
    background-color: white; 
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.table-font {
    font-size: 1.2rem;
    font-weight: 600;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: 1;
    /* background-image: url('/img/fond-aquarelle-rose-peint-main-detaille_1048-17039.webp'); */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.bottom-div {
    width: 100%;
    height: 300px;
    background-color: #ffcccb; 
    margin-top: 5px;
}

.full-background {
    /* background-image: url('/img/fond-aquarelle-rose-peint-main-detaille_1048-17039.webp'); */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.progress-bar {
    background-color: #f6a266;
}

span {
    color: var(--quaternary-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.dropdown-item:focus, .hover-elem a:hover {
    background-color: rgb(225, 164, 98);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #ffffff;
}

.test {
    width: 100%;
    height: 500px;
    background-color: #ffcccb;
}

.row {
    padding-bottom: 50px;
}

.margin-th {
    margin-left: 10px !important;
}

.cart-logo {
    width: 32px;
    height: 32px;
}

.card-color {
    /* background-color: rgba(253, 201, 170, 0.786); */
    background-color: transparent;
    border: none;
}

.card {
    overflow: hidden;
    border: none;
    padding: 10px !important;
    border: none;
    min-width: 280px;
    background-color: transparent;

}

.card-shadow {
    background-color: #b27eb41c;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(82, 66, 90, 1);
    -moz-box-shadow: 0px 0px 17px -7px rgba(82, 66, 90, 1);
    box-shadow: 0px 0px 17px -7px rgba(82, 66, 90, 1);
    border: solid 1px rgb(87, 87, 87);
}

.card-background {
    /* background-color: white; */
    /* background-image: url('/img/aquarelle.png'); */
    background-position: bottom; 
    background-repeat: no-repeat; 
    /* background-size: cover; */
    background-color: rgba(255, 255, 255, 0.5);
}

.margin {
    padding: 10px 10px;
    /* background-color: #23a6bd; */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

.card.cart {
    margin-bottom: 20px;
    overflow: hidden;
    border: none;
    padding: 10px !important;
    border: none;
}

.card-image {
    width: 270px;
    height: 200px;
    object-fit: cover;
    padding: 0 2px;
}

.card-body {
    /* display: flex; */
    padding: 15px;
    /* text-align: center; */
    margin-left: -15px;
}

.card-body2 {
    /* display: flex; */
    padding: 15px;
    text-align: center;

}

.card-body2 p {
   font-size: 1.2rem;
   font-weight: 600;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--quaternary-color);
    font-weight: 600;
}

.card-price,
.card-quantity,
.card-subtotal {
    margin-bottom: 10px;
}

.btn {
    /* padding: 5px 10px; */
    margin: 2px;
    cursor: pointer;
}

.btn-success {
    background-color: white;
    color: var(--quaternary-color);
    border-color: black;
    font-weight: 600;
    padding-top: 2px;
    -webkit-box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
    -moz-box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
    box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
}

.btn-success2 {
    padding-top: 2px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.btn-success:hover {
    background-color: rgb(189, 189, 189);
    border-color: black;
    transition: 0.3s;
}

.btn-warning {
    background-color: white;
    color: var(--quaternary-color);
    border-color: black;
    font-weight: 600;
    padding-top: 2px;
    -webkit-box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
    -moz-box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
    box-shadow: 0px 0px 37px -2px rgba(84, 85, 97, 0.5);
    transition: 0.3s;
}

.btn-warning:hover {
    background-color: rgb(189, 189, 189);
    border-color: black;
    transition: 0.3s;
}


.btn-danger {
    background-color: var(--cercle-color);
}

.btn-danger:hover  {
    background-color: rgb(105, 4, 4);
}

.btn-danger2 {
    background-color: var(--cercle-color);
    color: white;
    text-decoration: none;
}

.btn-danger2 a{
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 15px 15px;
}

.btn-danger2:hover {
    background-color: rgb(105, 4, 4);
    text-decoration: none;
    transition: 0.3s;
}

.cards-container {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 20px; 
}

.summary-card {
    position: relative;
    margin: 20px auto;
    border-radius: 8px;
    top: 177px;
    overflow: visible;
    border-color: black;
    border: solid 1px rgb(67, 67, 67);
    box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.1);
    width: 418px;
    background-color: rgba(255, 255, 255, 0.7);
}

.summary-card .card-body {
    padding: 28px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-card .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.summary-card .card-info {
    margin-bottom: 10px;
}

.summary-card .btn-vider {
    padding: 5px 10px;
    cursor: pointer;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

/* .left-block {
    width: 65%;  
} */

/* .right-block {
    width: 45%;  
} */




/* --------------------------- */

@media (max-width: 1745px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 1400px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 1400px) {
    .cards-container {
        grid-template-columns: 1fr; 
    }

    
}

@media (max-width: 1050px) {
    .cards-container {
        grid-template-columns: 1fr; 
    }

    /* .summary-card {
        max-width: 300px;
        margin: 20px auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        position: absolute;
        bottom: 70px !important;
        left: 450px !important;
        overflow: visible;

    } */

    .cards-container {
        margin-bottom: 250px;
    }

}






