main {
    min-height: 950px;
}

body {
    background-color: rgb(251, 244, 255);
}

.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.p-4 {
    background-color: rgb(24, 24, 24);
}

.card {
    background-color: rgb(252, 248, 254);
}

.list-group-item {
    background-color: rgb(252, 248, 254);
    font-weight: 600;
}

.fixed-bottom {
    background-color: rgb(24, 24, 24);
    /* position: fixed; */
    margin: 0;
    position: relative !important;
}

.navbar {
    background-color: rgb(217, 194, 255) !important;
    position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar-nav {
    font-size: 1.4rem;
}

.navbar-brand {
    margin-bottom: -5px;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(58, 58, 58);
    font-family: 'La Belle Aurore', cursive;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    gap: 50px;
    padding-left: 100px;
  }

.navbar li a {
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.navbar li a:hover {
    color: rgb(65, 28, 126);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Barlow', sans-serif;
}

.card-header {
    background-color: rgb(245, 239, 255);
    color: rgb(104, 66, 165);
}

.main-title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(104, 66, 165);
    font-weight: 600;
}

.list-title {
    color: rgb(104, 66, 165);
}

.last-margin {
    margin: 20px 0;
}

.card-link{
    color: inherit; 
    text-decoration: none;
}

.btn-primary {
    background-color: rgb(104, 66, 165);
  border-color: rgb(104, 66, 165);
}

.btn-primary:hover {
    background-color: rgb(65, 28, 126);
  border-color: rgb(65, 28, 126);
}

.container {
    padding-top: 100px;
}
